<div class="table">
  <table>
    <thead>
      <% for key in (keys = clients.first.keys) %>
        <th title="<%= clients_column_description key %>"><%= key %></th>
      <% end %>
    </thead>
    <% for client in clients %>
      <tr>
        <% for key in keys %>
          <% if key == "events" %>
            <td title="<%= client_event_description client[key] %>"><%= client[key] %></td>
          <% else %>
            <td><%= client[key] %></td>
          <% end %>
        <% end %>
      </tr>
    <% end %>
  </table>
</div>
