<div class="server-list">
  <div class="row">
    <% clients.each_with_index do |client, index| %>
      <% info = client.info %>
      <div class="column column server-card">
        <div class="server-card-title">
          <a href="<%= url("info?id=#{index}") %>">
            <%= client.url %>  (<%= info["role"] %>)
          </a>
        </div>
        <div class="row">
          <div class="column">
            <strong>Connections</strong>
            <p><%= info["connected_clients"] %></p>
          </div>

          <div class="column">
            <strong>Memory</strong>
            <p><%= info["used_memory_human"] %></p>
          </div>

          <div class="column">
            <strong>Commands per second</strong>
            <p><%= info["instantaneous_ops_per_sec"] %></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
