<div class="server-list">
  <% clients.each_with_index do |client, index| %>
    <% info = client.info %>
    <div class="server-card">
      <div class="server-card-title">
        <a href="<%= url("info?id=#{index}") %>"><%= URI(client.url).host %>  (<%= info["role"] %>)</a>
      </div>
      <div class="server-card-content">
        <div>
          <span class="label">Connections</span>
          <span><%= info["connected_clients"] %></span>
        </div>
        <div>
          <span class="label">Memory</span>
          <span><%= info["used_memory_human"] %></span>
        </div>
        <div>
          <span class="label">Commands per second</span>
          <span><%= info["instantaneous_ops_per_sec"] %></span>
        </div>
        <div>
          <span class="label">Cache hit ratio</span>
          <span><%= format_impact_percentage compute_cache_hit_ratio(info) %></span>
        </div>
      </div>
    </div>
  <% end %>
</div>
