<div class="grid-auto">
  <% clients.each_with_index do |client, index| %>
    <% info = client.info %>
    <div class="card">
      <header>
        <a href="<%= url("info?id=#{index}") %>"><%= URI(client.url).host %>  (<%= info["role"] %>)</a>
      </header>
      <div class="grid-auto">
        <div>
          <span class="label">Connections</span>
          <span><%= info["connected_clients"] %></span>
        </div>
        <div>
          <span class="label">Memory</span>
          <span><%= info["used_memory_human"] %></span>
        </div>
        <div>
          <span class="label">Commands per second</span>
          <span><%= info["instantaneous_ops_per_sec"] %></span>
        </div>
      </div>
    </div>
  <% end %>
</div>
