<div class="table">
  <table>
    <thead>
      <th>Type</th>
      <th>Key</th>
      <th>Value</th>
      <th></th>
    </thead>

    <% for key in keys %>
      <tr>
        <td><%= key[:type] %></td>
        <td><%= key[:key] %></td>
        <td><%= key[:value] %></td>
        <td>
          <% if %w(set hash zset).include?(key[:type]) %>
            <a href="/keys/<%= key[:key] %>?id=<%= redis_id %>">View</a>
            <% if key[:value].to_i > 1000 %>
              (Warning: Potentially costly)
            <% end %>           
          <% end %>
        </td>
      </tr>
    <% end %>
    <tfoot>
      <th colspan="4" align="right" style="text-align: right;"><a href="/keys?id=<%= redis_id %>&cursor=<%= next_cursor %>">Next Page</a></th>
    </tfoot>
  </table>
</div>