<div class="card">
  <table>
    <!-- TODO Alexis refactor -->
    <thead>
      <tr>
        <th>db</th>
        <th class="is-right">keys</th>
        <th class="is-right">expires</th>
        <th class="is-right">avg_ttl</th>
      </tr>
    </thead>
    
    <% for (db, stats) in keyspace %>
      <tr>
        <td>
          <a href="<%= url(File.join(params[:server], "keyspace", db)) %>"><%= db %></a>
        </td>
        <% for (name, value) in stats %>
          <% if name == "keys" %>
            <td class="is-right"><%= value %></td>
          <% end %>
          <% if name == "expires" %>
            <td class="is-right"><%= value %></td>
          <% end %>
          <% if name == "avg_ttl" %>
            <td class="is-right"><%= value %></td>
          <% end %>
        <% end %>
      </tr>
    <% end %>
  </table>
</div>
