<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Redis Dashboard</title>
    <link rel="stylesheet" href="<%= url("ariato.css") %>">
    <link rel="stylesheet" href="<%= url("style.css") %>">
  </head>

  <body>
    <header>
      <h1 class="logo">
        <a href="<%= url("/") %>">Redis Dashboard</a>
      </h1>
      <% if params[:server] %>
        <nav aria-label="site">
          <a class="page-menu-item <%= active_page_css("/#{params[:server]}") %>" href="<%= url("/#{params[:server]}") %>">Info</a>
          <a class="page-menu-item <%= active_page_css("/#{params[:server]}/config") %>" href="<%= url("/#{params[:server]}/config") %>">Config</a>
          <a class="page-menu-item <%= active_page_css("/#{params[:server]}/clients") %>" href="<%= url("/#{params[:server]}/clients") %>">Clients</a>
          <a class="page-menu-item <%= active_page_css("/#{params[:server]}/stats") %>" href="<%= url("/#{params[:server]}/stats") %>">Stats</a>
          <a class="page-menu-item <%= active_page_css("/#{params[:server]}/slowlog") %>" href="<%= url("/#{params[:server]}/slowlog") %>">Slowlog</a>
          <a class="page-menu-item <%= active_page_css("/#{params[:server]}/memory") %>" href="<%= url("/#{params[:server]}/memory") %>">Memory</a>
          <a class="page-menu-item <%= active_path_css("/#{params[:server]}/keyspace") %>" href="<%= url("/#{params[:server]}/keyspace") %>">Keyspace</a>
        </nav>
      <% end %>  
    </header>
    <main>
      <%== yield %>
    </main>
    <footer>
      <p>Made by <a href="https://basesecrete.com/en/" target="_blank" rel="noopener">Base Secrète</a>.  MIT License. <a href="https://github.com/BaseSecrete/redis_dashboard" target="_blank" rel="noopener nofollower">Fork on GitHub</a>.<br>
        <b>Rails developer?</b> Check out <a href="https://rorvswild.com" target="_blank" rel="noopener">RoRvsWild</a>, our Ruby on Rails application monitoring tool.
      </p>
    </footer>
  </body>
</html>
