<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Redis Dashboard</title>
    <link rel="stylesheet" href="<%= url("application.css") %>">
  </head>

  <body>
    <header>
      <h1 class="logo">
        <a href="<%= url("/") %>">Redis Dashboard</a>
      </h1>
      <% if params[:id] %>
        <nav aria-label="site">
          <a class="page-menu-item <%= 'active' if active_page?('info') %>" href="<%= url("/info?id=#{redis_id}") %>">Info</a>
          <a class="page-menu-item <%= 'active' if active_page?('config') %>" href="<%= url("/config?id=#{redis_id}") %>">Config</a>
          <a class="page-menu-item <%= 'active' if active_page?('clients') %>" href="<%= url("/clients?id=#{redis_id}") %>">Clients</a>
          <a class="page-menu-item <%= 'active' if active_page?('stats') %>" href="<%= url("/stats?id=#{redis_id}") %>">Stats</a>
          <a class="page-menu-item <%= 'active' if active_page?('slowlog') %>" href="<%= url("/slowlog?id=#{redis_id}") %>">Slowlog</a>
          <a class="page-menu-item <%= 'active' if active_page?('memory') %>" href="<%= url("/memory?id=#{redis_id}") %>">Memory</a>
        </nav>
      <% end %>  
    </header>
    <main>
      <%== yield %>
    </main>
    <footer>
      <p>Made by <a href="https://basesecrete.com/en/" target="_blank" rel="noopener">Base Secrète</a>.  MIT License. <a href="https://github.com/BaseSecrete/redis_dashboard" target="_blank" rel="noopener nofollower">Fork on GitHub</a>.<br>
        <b>Rails developer?</b> Check out <a href="https://rorvswild.com" target="_blank" rel="noopener">RoRvsWild</a>, our Ruby on Rails application monitoring tool.
      </p>
    </footer>
  </body>
</html>
