<!DOCTYPE html>
<html>
  <head>
    <title>Redis Dashboard</title>
    <link rel="stylesheet" href="<%= url("application.css") %>">
  </head>

  <body>
    <div class="page">
      <div class="page-header">
        <h2 class="page-title">
          <a href="<%= url("/") %>" class="<%= 'active' if active_page?('') %>">Redis Dashboard</a>
          <% if params[:id] %>
            <span><%= page_title %></span>
          <% end %>
        </h2>
        <% if params[:id] %>
          <div class="page-menu">
            <a class="page-menu-item <%= 'active' if active_page?('info') %>" href="<%= url("/info?id=#{redis_id}") %>">Info</a>
            <a class="page-menu-item <%= 'active' if active_page?('config') %>" href="<%= url("/config?id=#{redis_id}") %>">Config</a>
            <a class="page-menu-item <%= 'active' if active_page?('clients') %>" href="<%= url("/clients?id=#{redis_id}") %>">Clients</a>
            <a class="page-menu-item <%= 'active' if active_page?('stats') %>" href="<%= url("/stats?id=#{redis_id}") %>">Stats</a>
            <a class="page-menu-item <%= 'active' if active_page?('slowlog') %>" href="<%= url("/slowlog?id=#{redis_id}") %>">Slowlog</a>
          </div>
        <% end %>
      </div>
      <%= yield %>
      <div class="page-footer">
        Made by <a href="https://basesecrete.com/en/">Base Secrète</a>.  MIT License. <a href="https://github.com/BaseSecrete/redis_dashboard">Fork on GitHub</a>.
        <div class="rorvswild">
          Rails developer? Check out <a href="https://rorvswild.com">RoRvsWild</a>, our Ruby on Rails application monitoring tool.
        </div>
      </div>
    </div>
  </body>
</html>
