<p>
  List up to <%= client.config["slowlog-max-len"] %> commands slower than <%= format_usec client.config["slowlog-log-slower-than"] %>.
  It is defined in your config by <em>slowlog-max-len</em> and <em>slowlog-log-slower-than</em>.
</p>

<div class="table">
  <table>
    <thead>
      <th>ID</th>
      <th>At</th>
      <th>Duration</th>
      <th>Command</th>
    </thead>

    <% for cmd in commands %>
      <tr>
        <td><%= cmd.id %></td>
        <td class="date"><%= epoch_to_short_date_time cmd.timestamp %></td>
        <td class="number"><%= format_usec cmd.microseconds %></td>
        <td><%= cmd.command.join(" ") %></td>
      </tr>
    <% end %>
  </table>
</div>

<a href="https://redis.io/commands/slowlog">
  <svg viewBox="0 0 24 24">
    <path d="M14,3V5H17.59L7.76,14.83L9.17,16.24L19,6.41V10H21V3M19,19H5V5H12V3H5C3.89,3 3,3.9 3,5V19A2,2 0 0,0 5,21H19A2,2 0 0,0 21,19V12H19V19Z" />
  </svg> Redis slowlog documentation
</a>
