<p>
  List up to <%= client.config["slowlog-max-len"] %> commands slower than <%= format_usec client.config["slowlog-log-slower-than"] %>.
  It is defined in your config by <em>slowlog-max-len</em> and <em>slowlog-log-slower-than</em>.
</p>

<div class="table">
  <table>
    <thead>
      <th>ID</th>
      <th>At</th>
      <th>Duration</th>
      <th>Command</th>
    </thead>

    <% for cmd in commands %>
      <tr>
        <td><%= cmd.id %></td>
        <td class="date"><%= epoch_to_short_date_time cmd.timestamp %></td>
        <td class="number"><%= format_usec cmd.microseconds %></td>
        <td><%= cmd.command.join(" ") %></td>
      </tr>
    <% end %>
  </table>
</div>
